<!-- Temiloluwa Olufore 1970625 -->
<%- include('../partials/head')-%>

<html>
  <head>
    <title>Floor</title>
  </head>

  <body>
    <%- include('../partials/header')-%>
    <h3 class="h3tablez">MANAGE FLOORS</h3>
    <main>
      <div class="crudmain">
        <div class="api_call">
          <div
            class="card"
            style="width: 18rem">
            <p class="carico">
              <i
                class="fa-regular fa-eye fa-7x"
                style="color: #ff002b"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title">VIEW FLOORS</h5>
              <p class="card-text">View all the floors in the facility</p>
              <a
                href="/floor/view"
                class="btn btn-primary"
                >VIEW</a
              >
            </div>
          </div>
        </div>
        <div class="api_call">
          <div
            class="card"
            style="width: 18rem">
            <p class="carico">
              <i
                class="fa-solid fa-plus fa-7x"
                style="color: #ff002b"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title">ADD FLOORS</h5>
              <p class="card-text">Add floors to the facility</p>
              <a
                href="/floor/add"
                class="btn btn-primary"
                >ADD</a
              >
            </div>
          </div>
        </div>
        <div class="api_call">
          <div
            class="card"
            style="width: 18rem">
            <p class="carico">
              <i
                class="fa-regular fa-pen-to-square fa-7x"
                style="color: #ff002b"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title">UPDATE FLOORS</h5>
              <p class="card-text">Update floors in the facility</p>
              <a
                href="/floor/update"
                class="btn btn-primary"
                >UPDATE</a
              >
            </div>
          </div>
        </div>
        <div class="api_call">
          <div
            class="card"
            style="width: 18rem">
            <p class="carico">
              <i
                class="fa-solid fa-trash fa-7x"
                style="color: #ff002b"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title">DELETE FLOORS</h5>
              <p class="card-text">Delete floors in the facility</p>
              <a
                href="/floor/delete"
                class="btn btn-primary"
                >DELETE</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
