<!-- Temiloluwa Olufore 1970625 -->

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="/">
        <img
          src="/img/favicon-32x32.png"
          alt="Logo"
          height="32"
          width="32" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/floor"
              >FLOOR</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/room"
              >ROOM</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/resident"
              >RESIDENT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="titlehd">
    <h1>
      <img
        src="/img/favicon-32x32.png"
        alt="logo" />LONE STAR SENIOR FACILITY
    </h1>
  </div>
</header>
